@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Archivo Regular"), local("Archivo-Regular"),
    url("/public/fonts/archivo-v18-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Archivo Normal"), local("Archivo-Normal"),
    url("/public/fonts/archivo-v18-latin-500.woff2") format("woff2");
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Archivo SemiBold"), local("Archivo-SemiBold"),
    url("/public/fonts/archivo-v18-latin-600.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter Regular"), local("Inter-Regular"),
    url("/public/fonts/inter-v12-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Inter Normal"), local("Inter-Normal"),
    url("/public/fonts/inter-v12-latin-500.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Inter SemiBold"), local("Inter-SemiBold"),
    url("/public/fonts/inter-v12-latin-600.woff2") format("woff2");
}
